.wrapper {
  padding: 5px;
  margin: 5px;
  width: 500px;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  background-color: lightgray;
  justify-content: space-between;
}

.todos-info {
  display: flex;
  flex-flow: column nowrap;
}

.todos-actions {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}


